# Исключение временных файлов Python
__pycache__/
*.pyc

# Файлы демонстраций и временные файлы
*.cast

# Исключение сборок пакетов
dist/
*.egg-info/

# Файлы покрытия
coverage.xml

# Локальные настройки и временные файлы IDE
*.vscode/
.idea/
*.log
